<launch>
    <!-- <node name="arduino_driver" pkg="arduino_driver" type="arduino_driver" /> -->
    <node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" />
    <node name="lambert_node" pkg="gpsd_client" type="lambert_node" />
    <node name="cap_node" pkg="cap_boat" type="cap_talker"/>    
    <node name="cap_filter_node" pkg="filters" type="cap_filter"/>    
    <node name="kalman" pkg="filters" type="kalman" />
    <node name="arduino_driver" pkg="arduino_drivers" type="arduino_driver"/>
    <node name="encoders_driver" pkg="encoders_driver" type="encoders_driver"/>
    <node name="pid" pkg="arduino_drivers" type="pid_motor"/>
</launch>